*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
@font-face {
    src: url(Sunday_Morning.otf);
    font-family: sunday_morning;
}
li, a, button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: "sunday_morning"; */
    font-weight: 500;
    color: #abbbda;
    font-size: 16px;
    text-decoration: none;
}
.headerclass {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    height: 5%;
    background:#2f4672;
}
.headernav li{
    display: inline-block;
    padding: 10px 30px;
}

.headernav li a {
    transition: all 0.3s ease 0s;
}

.headernav li a:hover {
    color: #000f2c;
}
body{
    height: 100%;
}
.comingsoon {
    font-family: "sunday_morning";
    font-size:  160px;
}
.textcomingsoon {
    font-family: "sunday_morning";
    font-size: 50px;
}
.blockcomingsoon {
    /* border: 3px solid black; */
    text-align: center;
    position: absolute;
    top: 40%;
    width: 100%;
    transform: translateY(-50%);
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* .header {
    width: 100%;
    height: 5%;
    display: block;
    background-color:#2f4672;
    list-style: none;
    text-align: center;
    padding: 5% 0 5% 0;
    position: fixed;
}
.header > li {
    display: inline-block;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 5% 0 5%;
}
.header >li >a {
    color: rgb(255, 255, 255);
    font-weight:bold
}

.offset {
    margin-top: 0;
    padding-top: 270px;
    transition: .3s;
} */